<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BilDirekt</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"       rel="stylesheet">


    <link rel="stylesheet" href="/stylesheets/style.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/d89d40e6ac.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <!-- Start Header -->
    <header>
            
        <div class="header">

            <a class="logo" href="/">
                BilDirekt
            </a>
                    
            <div>
                <ul class="topnav">
                    <li><a href="/">Köpa bil</a></li>
                    <li><a href="/">Service & verkstad</a></li>
                    <li><a href="/">Om oss</a></li>
                    <li><a href="/">Kontakt</a></li>
                </ul>
            </div>
                    
            <div class="header-icons">
    
                <span class="header-icon">
                    <a href="#">
                        <i class="fas fa-search orangHover" >
                        </i>
                    </a>
                </span>
    
                <span class="header-icon">
                    <a href="#" >
                        <i class="fas fa-heart orangHover"></i>
                    </a>
                </span>
    
                <span class="header-icon">
                    <a href="#">
                        <i class="fa fa-user orangHover"></i>
                    </a>
                </span>
                <div class="menu-icon orangHover" id="menu-icon">
                    &#9776; <!-- Hamburger icon -->
                </div>
                <div class="dropdown-panel" id="dropdown-panel">
                    <ul class="dropdown-links">
                        <li><a class="orangHover"href="#">Köpa bil</a></li>
                        <li><a class="orangHover"href="#">Service & verkstad</a></li>
                        <li><a class="orangHover"href="#">Om oss</a></li>
                        <li><a class="orangHover"href="#">Kontakt</a></li>
                    </ul>
                </div>
    
            </div>   
            <script>
                document.getElementById('menu-icon').addEventListener('click', function() {
                    const dropdownPanel = document.getElementById('dropdown-panel');
                    dropdownPanel.style.display = dropdownPanel.style.display === 'block' ? 'none' : 'block';
                });
            </script>
                    
        </div>   
            
     </header>
    <!-- End Header -->

    <!-- Start Main sektion -->
        <main>
            
            <!-- Start Hero sektion -->
                <section class="hero">

                    <img src="/images/hero.png" alt="Hero bild";>
                    <div class="hero-text">
                        <span>Vi hjälper dig till ett tryggt bilköp</span>
                    </div>
                </section>
            <!-- End Hero sektion -->

            <!--Start Sökbar-->
                
                    <div class="search-bar">
                        <div class="search-box">
                        <input type="search" placeholder="Sök produkt">
                        <button class="button orangHover">Filter</button>
                       
                        </div>  
                    </div>
                
            <!--End Sökbar-->   



            <!-- Start Produktsektion -->
                <section class="products">
                    <div class="product">
                        <div class="productBild">
                            <span class="badge"><img src="/images/flame.png" alt="flame" width="50" height="60"></span>
                            <a href="/bil">
                                <img src="/images/bild1.jpg" alt="Produkt 1">
                            </a>
                            <div class="heart-icon"> <a href="#" style="color: #f88715;">
                                <i class="fas fa-heart"></i>
                            </a></div>
                        </div>

                        <div class="productText">
                            <div class="bil-name">Merceds-Benz E-Klass</div>
                            <div class="bil-varumärke">220 D | AMG LINE| 3,95 % RÄNTA</div>
                            <div class="price-title">Pris</div>
                            <div class="price">350 000 kr</div>
                            <div class="smarta-title">Smarta lånet</div>
                            <div class="smarta">4 250 kr/mån</div>
                            <div class="fordon-data">
                                <span class="fordon-data-badge">2020</span>
                                <span class="fordon-data-badge">7000 mil</span>
                                <span class="fordon-data-badge">Diesel</span>
                                <span class="fordon-data-badge">Automat</span>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="productBild">
                            <a href="/bil">
                                <img src="/images/bild1.jpg" alt="Produkt 1">
                            </a>
                            <div class="heart-icon"> <a href="#" style="color: rgb(216, 190, 190);">
                                <i class="fas fa-heart"></i>
                            </a></div>
                        </div>

                        <div class="productText">
                            <div class="bil-name">Merceds-Benz E-Klass</div>
                            <div class="bil-varumärke">220 D | AMG LINE| 3,95 % RÄNTA</div>
                            <div class="price-title">Pris</div>
                            <div class="price">350 000 kr</div>
                            <div class="smarta-title">Smarta lånet</div>
                            <div class="smarta">4 250 kr/mån</div>
                            <div class="fordon-data">
                                <span class="fordon-data-badge">2020</span>
                                <span class="fordon-data-badge">7000 mil</span>
                                <span class="fordon-data-badge">Diesel</span>
                                <span class="fordon-data-badge">Automat</span>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="productBild">
                            <a href="/bil">
                                <img src="/images/bild1.jpg" alt="Produkt 1">
                            </a>
                            <div class="heart-icon"> <a href="#" style="color: rgb(216, 190, 190);">
                                <i class="fas fa-heart"></i>
                            </a></div>
                        </div>

                        <div class="productText">
                            <div class="bil-name">Merceds-Benz E-Klass</div>
                            <div class="bil-varumärke">220 D | AMG LINE| 3,95 % RÄNTA</div>
                            <div class="price-title">Pris</div>
                            <div class="price">350 000 kr</div>
                            <div class="smarta-title">Smarta lånet</div>
                            <div class="smarta">4 250 kr/mån</div>
                            <div class="fordon-data">
                                <span class="fordon-data-badge">2020</span>
                                <span class="fordon-data-badge">7000 mil</span>
                                <span class="fordon-data-badge">Diesel</span>
                                <span class="fordon-data-badge">Automat</span>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="productBild">
                            <a href="/bil">
                                <img src="/images/bild1.jpg" alt="Produkt 1">
                            </a>
                            <div class="heart-icon"> <a href="#" style="color: rgb(216, 190, 190);">
                                <i class="fas fa-heart"></i>
                            </a></div>
                        </div>

                        <div class="productText">
                            <div class="bil-name">Merceds-Benz E-Klass</div>
                            <div class="bil-varumärke">220 D | AMG LINE| 3,95 % RÄNTA</div>
                            <div class="price-title">Pris</div>
                            <div class="price">350 000 kr</div>
                            <div class="smarta-title">Smarta lånet</div>
                            <div class="smarta">4 250 kr/mån</div>
                            <div class="fordon-data">
                                <span class="fordon-data-badge">2020</span>
                                <span class="fordon-data-badge">7000 mil</span>
                                <span class="fordon-data-badge">Diesel</span>
                                <span class="fordon-data-badge">Automat</span>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="productBild">
                            <a href="/bil">
                                <img src="/images/bild1.jpg" alt="Produkt 1">
                            </a>
                            <div class="heart-icon"> <a href="#" style="color: rgb(216, 190, 190);">
                                <i class="fas fa-heart"></i>
                            </a></div>
                        </div>

                        <div class="productText">
                            <div class="bil-name">Merceds-Benz E-Klass</div>
                            <div class="bil-varumärke">220 D | AMG LINE| 3,95 % RÄNTA</div>
                            <div class="price-title">Pris</div>
                            <div class="price">350 000 kr</div>
                            <div class="smarta-title">Smarta lånet</div>
                            <div class="smarta">4 250 kr/mån</div>
                            <div class="fordon-data">
                                <span class="fordon-data-badge">2020</span>
                                <span class="fordon-data-badge">7000 mil</span>
                                <span class="fordon-data-badge">Diesel</span>
                                <span class="fordon-data-badge">Automat</span>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="productBild">
                            <a href="/bil">
                                <img src="/images/bild1.jpg" alt="Produkt 1">
                            </a>
                            <div class="heart-icon"> <a href="#" style="color: rgb(216, 190, 190);">
                                <i class="fas fa-heart"></i>
                            </a></div>
                        </div>

                        <div class="productText">
                            <div class="bil-name">Merceds-Benz E-Klass</div>
                            <div class="bil-varumärke">220 D | AMG LINE| 3,95 % RÄNTA</div>
                            <div class="price-title">Pris</div>
                            <div class="price">350 000 kr</div>
                            <div class="smarta-title">Smarta lånet</div>
                            <div class="smarta">4 250 kr/mån</div>
                            <div class="fordon-data">
                                <span class="fordon-data-badge">2020</span>
                                <span class="fordon-data-badge">7000 mil</span>
                                <span class="fordon-data-badge">Diesel</span>
                                <span class="fordon-data-badge">Automat</span>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="productBild">
                            <a href="/bil">
                                <img src="/images/bild1.jpg" alt="Produkt 1">
                            </a>
                            <div class="heart-icon"> <a href="#" style="color: rgb(216, 190, 190);">
                                <i class="fas fa-heart"></i>
                            </a></div>
                        </div>

                        <div class="productText">
                            <div class="bil-name">Merceds-Benz E-Klass</div>
                            <div class="bil-varumärke">220 D | AMG LINE| 3,95 % RÄNTA</div>
                            <div class="price-title">Pris</div>
                            <div class="price">350 000 kr</div>
                            <div class="smarta-title">Smarta lånet</div>
                            <div class="smarta">4 250 kr/mån</div>
                            <div class="fordon-data">
                                <span class="fordon-data-badge">2020</span>
                                <span class="fordon-data-badge">7000 mil</span>
                                <span class="fordon-data-badge">Diesel</span>
                                <span class="fordon-data-badge">Automat</span>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="productBild">
                            <a href="/bil">
                                <img src="/images/bild1.jpg" alt="Produkt 1">
                            </a>
                            <div class="heart-icon"> <a href="#" style="color: rgb(216, 190, 190);">
                                <i class="fas fa-heart"></i>
                            </a></div>
                        </div>

                        <div class="productText">
                            <div class="bil-name">Merceds-Benz E-Klass</div>
                            <div class="bil-varumärke">220 D | AMG LINE| 3,95 % RÄNTA</div>
                            <div class="price-title">Pris</div>
                            <div class="price">350 000 kr</div>
                            <div class="smarta-title">Smarta lånet</div>
                            <div class="smarta">4 250 kr/mån</div>
                            <div class="fordon-data">
                                <span class="fordon-data-badge">2020</span>
                                <span class="fordon-data-badge">7000 mil</span>
                                <span class="fordon-data-badge">Diesel</span>
                                <span class="fordon-data-badge">Automat</span>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="productBild">
                            <a href="/bil">
                                <img src="/images/bild1.jpg" alt="Produkt 1">
                            </a>
                            <div class="heart-icon"> <a href="#" style="color: rgb(216, 190, 190);">
                                <i class="fas fa-heart"></i>
                            </a></div>
                        </div>

                        <div class="productText">
                            <div class="bil-name">Merceds-Benz E-Klass</div>
                            <div class="bil-varumärke">220 D | AMG LINE| 3,95 % RÄNTA</div>
                            <div class="price-title">Pris</div>
                            <div class="price">350 000 kr</div>
                            <div class="smarta-title">Smarta lånet</div>
                            <div class="smarta">4 250 kr/mån</div>
                            <div class="fordon-data">
                                <span class="fordon-data-badge">2020</span>
                                <span class="fordon-data-badge">7000 mil</span>
                                <span class="fordon-data-badge">Diesel</span>
                                <span class="fordon-data-badge">Automat</span>
                            </div>
                        </div>
                    </div>
                   
                  
                </section>
            <!-- End Produktsektion -->

        </main>

    <!-- End Main sektion -->

    <!-- Start Footer sektion -->
    <footer>

        <div class="footNav" id="accordion">
            <div class="panel1 panel1-default" >
            <div class="panel-heading">
                <h4 
                class="panel1-title">
                <a data-toggle="collapse"
                data-parent="#accordion" href="#collapse1" style="color: white;font-family: Inria Sans;">Kontakt</a>
                </h4>
            </div>
            <div id="collapse1" class="panel1-collapse collapse">
                <div class="accordion-body">
                        <ul>
                            <li><a href="#" class="accordion-text">Hitta oss</a></li>
                            <li><a href="#" class="accordion-text">Karriär på BilDirekt</a></li>
                            <li><a href="#" class="accordion-text">Prenumerera på vårtnyhetsbrev</a></li>
                        </ul>
                </div>
            </div>
            </div>
            <div class="panel1 panel1-default">
                <div class="panel-heading">
                    <h4 class="panel1-title">
                    <a data-toggle="collapse" data-parent="#accordion" 
                    href="#collapse2" style="color: white;font-family: Inria Sans;">Service & verkstad</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="accordion-body">
                            <ul>
                                <li><a href="#" class="accordion-text">Originalservice</a></li>
                                <li><a href="#" class="accordion-text">Serviceavtal</a></li>
                                <li><a href="#" class="accordion-text">Reparation</a></li>
                            </ul>
                        </div>
                </div>
            </div>
            <div class="panel1 panel1-default">
                <div class="panel-heading">
                    <h4 class="panel1-title">
                    <a data-toggle="collapse" data-parent="#accordion" 
                    href="#collapse3" style="color: white;font-family: Inria Sans;">Om oss</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="accordion-body">
                            <ul>
                                <li><a href="#" class="accordion-text">Kundservide</a></li>
                                <li><a href="#" class="accordion-text">Vår historia</a></li>
                                <li><a href="#" class="accordion-text">Kvalitets- och miljöpolicy</a></li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="CMark">
                <span>Copyright <span style="font-size: large;font-family: Arial, Helvetica, sans-serif;vertical-align: middle;">&copy;</span> BilDirekten 2025</span>
            </div>
        </div>

    </footer>
<!--End Footer-->
</body>
</html>
