<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8"><script src="https://kit.fontawesome.com/9b9c3e7d62.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo-search">
        <div class="logo">BilDirekt</div>
        <div class="search-box">
          <i class="fa-solid fa-bars"></i>
          <input
            type="text"
            placeholder="Search ..."
            name="search"
            id="searchInput"
          />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
      <div class="user-menu">
        <i class="fa-regular fa-sun"></i> <i class="fa-regular fa-heart"></i>
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
    </nav>
    <section class="logos">
      <img
        src="https://th.bing.com/th/id/R.3579c14fdb40340a7815599e6ce2cbde?rik=gVb9C%2fhDBGEyhA&riu=http%3a%2f%2f2.bp.blogspot.com%2f-CLOpjd6xOTU%2fVV4JKYSfGSI%2fAAAAAAAACic%2fumuO5QMGjWI%2fs1600%2fBMW-logo-vector.png&ehk=P1F1d2KaI9SI6qx590kjRDGbdqZY7lmnZVinXPQKjvs%3d&risl=&pid=ImgRaw&r=0"
        alt="bmw"
        width="150px"
      />
      <img
        src="https://logos-world.net/wp-content/uploads/2020/05/Mercedes-Benz-Logo.png"
        alt="mercedes"
        width="180px"
      />
      <img
        src="https://th.bing.com/th/id/R.3579c14fdb40340a7815599e6ce2cbde?rik=gVb9C%2fhDBGEyhA&riu=http%3a%2f%2f2.bp.blogspot.com%2f-CLOpjd6xOTU%2fVV4JKYSfGSI%2fAAAAAAAACic%2fumuO5QMGjWI%2fs1600%2fBMW-logo-vector.png&ehk=P1F1d2KaI9SI6qx590kjRDGbdqZY7lmnZVinXPQKjvs%3d&risl=&pid=ImgRaw&r=0"
        alt="bmw"
        width="150px"
      />
      <img
        src="https://logos-world.net/wp-content/uploads/2020/05/Mercedes-Benz-Logo.png"
        alt="mercedes"
        width="180px"
      />
      <img
        src="https://th.bing.com/th/id/R.3579c14fdb40340a7815599e6ce2cbde?rik=gVb9C%2fhDBGEyhA&riu=http%3a%2f%2f2.bp.blogspot.com%2f-CLOpjd6xOTU%2fVV4JKYSfGSI%2fAAAAAAAACic%2fumuO5QMGjWI%2fs1600%2fBMW-logo-vector.png&ehk=P1F1d2KaI9SI6qx590kjRDGbdqZY7lmnZVinXPQKjvs%3d&risl=&pid=ImgRaw&r=0"
        alt="bmw"
        width="150px"
      />
      <img
        src="https://logos-world.net/wp-content/uploads/2020/05/Mercedes-Benz-Logo.png"
        alt="mercedes"
        width="180px"
      />
    </section>

    <section class="hero">
      <div class="text">Hero</div>
    </section>
    
    <section class="produkts">
      <div style="width: 400px; height: 530px" class="produkt">
        <div class="fire-icon"><i class="fa-solid fa-fire"></i></div>
        Produkt 1
      </div>
      <div style="width: 400px; height: 530px" class="produkt">
        <div class="fire-icon"><i class="fa-solid fa-fire"></i></div>
        Produkt 2
      </div>
      <div style="width: 400px; height: 530px" class="produkt">
        <div class="fire-icon"><i class="fa-solid fa-fire"></i></div>
        Produkt 3
      </div>
    </section>
    <section class="sveriges">
      <div class="service">
        <i class="fa-solid fa-truck"></i> Sveriges bästa bilar
      </div>
      <div class="service"><i class="fa-regular fa-star"></i> Recensioner</div>
      <div class="service">
        <i class="fa-solid fa-house"></i> Hitta varuhus nära dig
      </div>
    </section>
    <footer>
      <div class="footer-1 footer-item">
        Om oss <br />
        occaecat <br />
        Eiusmod tempor<br />
        mollit cillum <br />
        deserunt anim.<br />
      </div>
      <div class="footer-2 footer-item">
        Om oss  <br />
        occaecat <br />
        Eiusmod tempor<br />
        mollit cillum <br />
        deserunt anim.<br />
      </div>
      <div class="footer-3 footer-item">
        Om oss  <br />
        occaecat <br />
        Eiusmod tempor<br />
        mollit cillum <br />
        deserunt anim.<br />
      </div>
      <div class="footer-4"><i class="fa-solid fa-phone"></i> +46 711223344</div>
    </footer>
  </body>
</html>
