body {
    box-sizing: border-box;
    direction: ltr;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
  }
  
  /* Start Header */
  .header {
    display: flex;
    margin: 10px 20px;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    margin: 10px;
    font-size: 30px;
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  /*  start search bar */
  .search-box {
    flex-grow: 1;
    text-align: center;
    background-color: #444444;
  }
  
  .search-box input {
    border-radius: 40px;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    padding-right: 35px;
    padding-left: 35px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .search-bar {
    position: relative;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    background-color: white; /* Background color of the search bar */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 10px; /* Padding inside the search bar */
  }
  
  .search-icon {
    position: absolute;
    left: 540px;
    top: 8px;
    margin: 10px;
    padding: 0px;
  }
  
  .filter-button {
    background-color: #a08970; /* Button background color */
    color: black; /* Button text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding inside the button */
    cursor: pointer; /* Pointer cursor on hover */
    margin-left: 10px; /* Space between input and button */
  }
  
  .filter-button:hover {
    background-color: #a08970; /* Darker blue on hover */
  }
  
  /*  End search bar */
  
  .header-heart-icon {
    margin: 5px;
    font-size: 24px;
    cursor: pointer;
  }
  .header-kart-icon {
    margin: 5px;
    font-size: 24px;
    cursor: pointer;
  }
  /* End Header */
  
  /* Start Top Nav */
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  ul.topnav li {
    float: left;
  }
  
  ul.topnav li a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  ul.topnav li a:hover {
    background-color: rgb(139, 139, 129);
  }
  
  /* End Nav */
  
  /* Start Hero-sektionen */
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; /* Prevents overflow */
    max-width: 100%;
    max-height: 250px;
  }
  
  .hero img {
    width: 100%; /* Ensures the image scales to fit the container width */
    height: auto; /* Maintains aspect ratio */
  }
  
  .hero-text {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Adds contrast for readability */
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  /* End Hero-sektionen */
  
  /* Start Produktsektion */
  .products {
    display: grid;
    gap: 10px;
    padding: 10px;
    align-items: center;
  }
  
  .product {
    position: relative;
    padding-bottom: 120px;
    padding-top: 5px;
    text-align: center;
    border: 1px solid #878181;
    border-radius: 5px;
    box-shadow: 5px 5px 3px lightgray;
  }
  
  .product img {
    width: 95%;
    height: 207px;
    transition: transform 0.3s ease;
    margin-bottom: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .badge img {
    width: 40px;
    height: 40px;
  }
  
  .product img:hover {
    transform: scale(1.05);
  }
  
  .heart-icon {
    position: absolute;
    bottom: 160px;
    right: 20px;
    font-size: 24px;
    color: red;
    cursor: pointer;
  }
  
  .price {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 20px;
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
    color: black;
  }
  .smarta {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 20px;
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
    color: black;
  }
  .price-title {
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-size: 18px;
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
  }
  .smarta-title {
    position: absolute;
    bottom: 30px;
    right: 15px;
    font-size: 18px;
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
  }
  
  .product-name {
    position: absolute;
    bottom: 120px;
    left: 5px;
    font-size: 20px;
    color: black;
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .product-varumärke {
    position: absolute;
    bottom: 100px;
    left: 3.4px;
    font-size: 15px;
    color: black;
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  .badge {
    position: absolute;
    background-color: #77777700;
    top: 10px;
    left: 10px;
    padding: 5px 30px;
    border-radius: 5px;
    animation: horizontal-shaking 2s ease infinite;
    animation-fill-mode: backwards;
    z-index: 10;
  }
  
  .fordon-data {
    position: absolute;
    bottom: 60px;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-left: 10px;
  }
  
  .fordon-data-badge {
    background-color: lightgray;
    color: black;
    padding: 2px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  @keyframes horizontal-shaking {
    0% {
      transform: translateX(0);
      background-color: #77777700;
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
      background-color: #77777700;
    }
  }
  
  .icons {
    position: relative;
    display: grid;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: left;
    align-items: start;
    align-content: space-evenly;
    margin: 20px;
    grid-gap: 10px 30px;
  }
  
  .icon {
    align-items: left;
  }
  
  .icon-text {
    font-size: small;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* End Produktsektion */
  
  /* Start Footersektion */
  .panel-group1 {
    display: flex;
    background-color: #8a8e9f;
    gap: 50px;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
    justify-content: space-evenly;
  }
  .accordion-text {
    color: white;
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 2px;
  }
  
  .CMark {
    width: 100%;
    text-align: center;
    margin: 2px;
    color: #5e5959;
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* End Footersektion */
  
  /* Start Responsiv design  */
  
  @media (max-width: 640px) {
    .header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
    }
    .search-box {
      width: 100%;
    }
  
    ul.topnav li {
      float: none;
      display: none;
    }
  
    ul.topnav li a {
      font-family: "Balsamiq Sans", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
  
    ul.footnav li,
    .footersektion {
      float: none;
      background-color: #8a8e9f;
    }
  
    .panel-heading {
      background-color: #8a8e9f;
    }
  
    .panel-group1 {
      display: block;
      background-color: #8a8e9f;
    }
  
    .panel-heading {
      background-color: #8a8e9f;
      border-bottom: 2px solid black;
    }
  
    .panel-heading:hover {
      background-color: lightblue;
    }
  
    .panel1-default {
      border-bottom: 2px solid black;
      border-radius: 0 0 0 0;
      margin: 0;
    }
  }
  
  @media (min-width: 640px) {
    .products {
      grid-template-columns: 1fr 1fr;
    }
  
    .icons {
      grid-template-columns: 1fr 1fr;
      justify-items: left;
      justify-content: center;
    }
  }
  
  @media (max-width: 1024px) {
    .spots {
      display: none;
    }
  }
  
  @media (min-width: 1024px) {
    .products {
      grid-template-columns: 1fr 1fr 1fr;
    }
   }

  @media (min-width: 1440px) {
    .products {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
   }
  
    .icons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      justify-content: center;
      align-items: center;
    }
  
    .hero {
      display: flex;
      flex-wrap: nowrap;
    }
    .hero img {
      max-width: 70%;
      height: auto;
    }
  }
  
  /* End Responsiv design  */
  